<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container my-4">
        <h2>Edit Patient</h2>
        <form action="/patients/edit/<%= patient._id %>" method="POST" enctype="multipart/form-data">
            <div class="row">
                 <!-- Image preview -->
                 <div class="col-1 form-group">
                    <div class="image-placeholder" id="imagePlaceholder" style="<%= patient.image ? 'display:none;' : '' %>">
                        <i class="fa-solid fa-person"></i>
                    </div>  
                    <img id="imagePreview" 
                        src="<%= patient.image %>" 
                        alt="Image Preview" 
                        style="max-width: 100%; max-height: 100%; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); <%= patient.image ? '' : 'display:none;' %>"/>                
                </div>
                <!-- Optional image upload -->
                <div class="col form-group">
                    <label for="image">Upload Image (Optional)</label>
                    <input type="file" class="form-control-file" id="image" name="image" onchange="previewImage(event)">
                    <% if (typeof errorMessage !== 'undefined') { %>
                        <div id="error-message" class="text-danger" style="margin-top: 10px;"><%= errorMessage %></div>
                    <% } else { %>
                        <div id="error-message" class="text-danger" style="display: none; margin-top: 10px;"></div>
                    <% } %>                        
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= patient.firstName %>" required>
                </div>
                <div class="col form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%= patient.lastName %>" required>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="<%= patient.phone %>" required>
                </div>
                <div class="col form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= patient.email %>" required>
                </div>
                <div class="col form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="male" <%= patient.gender === 'male' ? 'selected' : '' %>>Male</option>
                        <option value="female" <%= patient.gender === 'female' ? 'selected' : '' %>>Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-2 form-group" id="pregnancyField" style="display: none;">
                    <label for="pregnant">Pregnant</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="pregnant" name="pregnant" <%= patient.pregnant ? 'checked' : '' %>>
                        <label class="custom-control-label" for="pregnant">Yes</label>
                    </div>
                </div>
                <div class="col-2 form-group" id="nursingField" style="display: none;">
                    <label for="nursing">Nursing</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="nursing" name="nursing" <%= patient.nursing ? 'checked' : '' %>>
                        <label class="custom-control-label" for="nursing">Yes</label>
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <label for="chronicalCondition">Chronical Condition</label>
                <input type="text" class="form-control" id="chronicalCondition" name="chronicalCondition" value="<%= patient.chronicalCondition %>">
            </div>
            <div class="form-group">
                <label for="medications">Medications</label>
                <input type="text" class="form-control" id="medications" name="medications" value="<%= patient.medications %>">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/gender-toggle.js"></script>
    <script src="/js/preview-image.js"></script>
</body>
</html>
