<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container my-4">
        <h2>Edit Patient</h2>
        <form action="/patients/edit/<%= patient._id %>" method="POST" enctype="multipart/form-data">
            <div class="row">
                 <!-- Image preview -->
                 <div class="col-1 form-group">
                    <div class="image-placeholder" id="imagePlaceholder">
                        <i class="fa-solid fa-person"></i>
                    </div>  
                    <img id="imagePreview" 
                        src="<%= patient.image %>" 
                        alt="Image Preview" 
                        style="max-width: 100%; max-height: 100%; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); "/>                
                </div>
                <!-- Optional image upload -->
                <div class="col form-group">
                    <label for="image">Upload Image (Optional)</label>
                    <input type="file" class="form-control-file" id="image" name="image" onchange="previewImage(event)">
                    <% if (typeof errorMessage !== 'undefined') { %>
                        <div id="error-message" class="text-danger" style="margin-top: 10px;"><%= errorMessage %></div>
                    <% } else { %>
                        <div id="error-message" class="text-danger" style="display: none; margin-top: 10px;"></div>
                    <% } %>                        
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= patient.firstName %>" required>
                </div>
                <div class="col form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%= patient.lastName %>" required>
                </div>
                <div class="col form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="male" <%= patient.gender === 'male' ? 'selected' : '' %>>Male</option>
                        <option value="female" <%= patient.gender === 'female' ? 'selected' : '' %>>Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-2 form-group" id="pregnancyField" style="display: none;">
                    <label for="pregnant">Pregnant</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="pregnant" name="pregnant" <%= patient.pregnant ? 'checked' : '' %>>
                        <label class="custom-control-label" for="pregnant">Yes</label>
                    </div>
                </div>
                <div class="col-2 form-group" id="nursingField" style="display: none;">
                    <label for="nursing">Nursing</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="nursing" name="nursing" <%= patient.nursing ? 'checked' : '' %>>
                        <label class="custom-control-label" for="nursing">Yes</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob" value="<%= patient.dob ? formatDate(patient.dob) : '' %>">
                </div>
                <div class="col form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="<%= patient.phone %>" required>
                </div>
                <div class="col form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= patient.email %>" required>
                </div>
            </div>  
            <div class="row">
                <div class="col form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" readonly>
                </div>
                <div class="col form-group">
                    <label for="chronicalConditionDropdown">Chronical Condition</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="chronicalConditionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Conditions
                        </button>
                        <div class="dropdown-menu p-2" aria-labelledby="chronicalConditionDropdown">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chronicalCondition[]" value="Heart disease" id="heartDisease"
                                    <%= Array.isArray(patient.chronicalCondition) && patient.chronicalCondition.includes('Heart disease') ? 'checked' : '' %>>
                                <label class="form-check-label" for="heartDisease">Heart disease</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chronicalCondition[]" value="Kidneys" id="kidneys"
                                    <%= Array.isArray(patient.chronicalCondition) && patient.chronicalCondition.includes('Kidneys') ? 'checked' : '' %>>
                                <label class="form-check-label" for="kidneys">Kidneys</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chronicalCondition[]" value="Digestion" id="digestion"
                                    <%= Array.isArray(patient.chronicalCondition) && patient.chronicalCondition.includes('Digestion') ? 'checked' : '' %>>
                                <label class="form-check-label" for="digestion">Digestion</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chronicalCondition[]" value="Diabetes" id="diabetes"
                                    <%= Array.isArray(patient.chronicalCondition) && patient.chronicalCondition.includes('Diabetes') ? 'checked' : '' %>>
                                <label class="form-check-label" for="diabetes">Diabetes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chronicalCondition[]" value="Asthma" id="asthma"
                                    <%= Array.isArray(patient.chronicalCondition) && patient.chronicalCondition.includes('Asthma') ? 'checked' : '' %>>
                                <label class="form-check-label" for="asthma">Asthma</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col form-group">
                    <label for="medicationsDropdown">Medications</label>
                    <div class="dropdown" style="margin-bottom: 200px;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="medicationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Medications
                        </button>
                        <div class="dropdown-menu p-2" aria-labelledby="medicationsDropdown">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Warfarin (Coumadin)" id="warfarin"
                                    <%= patient.medications && patient.medications.includes('Warfarin (Coumadin)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="warfarin">Warfarin (Coumadin)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Simvastatin (Zocor)" id="simvastatin"
                                    <%= patient.medications && patient.medications.includes('Simvastatin (Zocor)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="simvastatin">Simvastatin (Zocor)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Metformin (Glucophage)" id="metformin"
                                    <%= patient.medications && patient.medications.includes('Metformin (Glucophage)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="metformin">Metformin (Glucophage)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Aspirin" id="aspirin"
                                    <%= patient.medications && patient.medications.includes('Aspirin') ? 'checked' : '' %>>
                                <label class="form-check-label" for="aspirin">Aspirin</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Ciprofloxacin (Cipro)" id="ciprofloxacin"
                                    <%= patient.medications && patient.medications.includes('Ciprofloxacin (Cipro)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="ciprofloxacin">Ciprofloxacin (Cipro)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Digoxin (Lanoxin)" id="digoxin"
                                    <%= patient.medications && patient.medications.includes('Digoxin (Lanoxin)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="digoxin">Digoxin (Lanoxin)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Verapamil (Calan, Verelan)" id="verapamil"
                                    <%= patient.medications && patient.medications.includes('Verapamil (Calan, Verelan)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="verapamil">Verapamil (Calan, Verelan)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Albuterol (Proventil, Ventolin)" id="albuterol"
                                    <%= patient.medications && patient.medications.includes('Albuterol (Proventil, Ventolin)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="albuterol">Albuterol (Proventil, Ventolin)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Levothyroxine (Synthroid)" id="levothyroxine"
                                    <%= patient.medications && patient.medications.includes('Levothyroxine (Synthroid)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="levothyroxine">Levothyroxine (Synthroid)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medications[]" value="Spironolactone (Aldactone)" id="spironolactone"
                                    <%= patient.medications && patient.medications.includes('Spironolactone (Aldactone)') ? 'checked' : '' %>>
                                <label class="form-check-label" for="spironolactone">Spironolactone (Aldactone)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-left">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/gender-toggle.js"></script>
    <script src="/js/preview-image.js"></script>
    <script type="module">
        import { calculateAge } from '/js/calculateAge.js';
        const dob = '<%= patient.dob ? new Date(patient.dob).toISOString().split("T")[0] : "" %>';
        document.getElementById('age').value = calculateAge(dob);
    </script>
    
</body>
</html>
