<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Patients Management</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">        
                <li class="nav-item">
                    <a class="nav-link" href="/patients">Patients</a>
                </li>
                <li>
                    <a class="nav-link" href="/drugs">Drugs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="store content">
        <div class="container-fluid">
            <div class="row">
                <h2 class="col my-4">Patients List</h2>
                <button class="my-4 mx-4 btn btn-primary"><i class="fa fa-plus-circle"></i> Add Patient</button>            
            </div>
            
            <% if (patients.length > 0) { %>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Pregnant</th>
                        <th>Nursing</th>
                        <th>Chronical Condition</th>
                        <th>Medications</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% patients.forEach(function(patient) { %>
                    <tr>
                        <td><img width="50" src="<%= patient.image %>" /></td>
                        <td><%= patient.firstName %></td>
                        <td><%= patient.lastName %></td>
                        <td><%= patient.gender %></td>
                        <td><%= patient.phone %></td>
                        <td><%= patient.email %></td>
                        <td><%= patient.preganant %></td>
                        <td><%= patient.nursing %></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn"><i class="fa fa-trash"></i></button></td>
                        <td><button class="btn"><i class="fa fa-pencil-square-o"></i></button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>
</html>